*, ::before, ::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   color: var(--second-color);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

.section {
   padding-top: 3rem;
   padding-bottom: 2rem;
}

// CSS Class
.section-title {
   position: relative;
   font-size: var(--h2-font-size);
   color: var(--first-color);
   margin-top: var(--mb-2);
   margin-bottom: var(--mb-4);
   text-align: center;

   &::after{
      position: absolute;
      content: '';
      top: 2rem;
      left: 0;
      right: 0;
      width: 60px;
      margin: auto;
      height: 0.18rem;
      border-radius: 50px;
      background-color: var(--first-color);
   }
}

// Layouts
.bd-grid {
   display: grid;
   grid-template-columns: 100%;
   grid-column-gap: 2rem;
   max-width: 1024px;
   width: calc(100% - 2rem);
   margin-left: var(--mb-2);
   margin-right: var(--mb-2);
}